body {
	font-family: 'Roboto', sans-serif;
}
.verhuska2{
	position: relative;
}
.verhuska2 iframe {
	width: 100%;
	height:600px;
	border:none;
}
.D_flex {
	display: flex;
}
.Vkatsh {
	border: 1px solid gray;
	background-color: white;
	position: absolute;
	display: none;
	color: black;
	top: 40px;
	z-index: 1;
}
.Vkatsh ul{
	margin: 0px;
	font-size: 14px;
	padding: 5px;
	list-style: none;
}
.Vkatsh a{
	color: black;
	text-decoration:none;
}
.Vkatsh li {
	white-space: nowrap;
	margin: 15px 7px 15px 7px;
}
.SS a{
	color: black;
	text-decoration:none;
}
.CATALOG{
	font-weight: 500;
	padding: 5px;
	color:white;
}
.CATALOG p{
	padding: 5px 7px 5px 7px;
	background-color: #87CEFA;
	border-radius: 40px;
	cursor: pointer;
}
.SS
{
	font-size: 10px;
	padding-left: 5px;
	list-style: none;
	margin: 0px;
}
.SS li{
	margin-bottom: -5px;
}
.baba{
	position: static;
	transform: scale(1.2);
	margin-bottom: 70px;
	margin-top: 60px;
}
.wid-1{
	width: 100%;
}
.wid-2{
	width: 1280px;
}
.navi{
	position: absolute;
	top: 30px;
	left: 20px;
}
.first{	
	margin-bottom: -5px;
	font-size: 25px;
	font-weight: 700;
}
.sec{
	margin-bottom: -5px;
	font-size: 35px;
	font-weight: 800;
}
.ther{
	font-weight: 700;
	font-size: 25px;
}
.cards img {
	width: 75px;
	margin-right: 10px;
}
.cardName {
	font-size: 25px;
	margin-bottom: -5px;
	color: #87CEFA;
	font-weight: 1000;
}
.cardSecName {
	font-size: 20px;
	margin: 0px;
}
.first2{
	margin-bottom: -10px;
	font-weight: 600;
}
.ther2{
	margin-top: 10px;
	font-size: 12px;
	font-weight: 600;
}
.shtuki {
	margin-top: 10px;
	font-size: 12px;
	font-weight: 600;
}
.sliDEEEER {
	background: linear-gradient(0deg,#D3D3D3 2%,white,#D3D3D3 98%);
}
.sliDEEEER .slick-current {
	display: flex;
	justify-content: center;
}
.sliDEEEER .slick-slide img {
	display: flex;
	justify-content: center;
	transform: scale(0.4);
}
.sliDEEEER .slick-center img {
	transform:scale(0.9);
}
.osnblock{
	margin-top: 100px;
}
.arrrows, .arows, .arrows{
	display: inline-block;
	position: relative;
}
.dotts, .dos, .dots {
	position: relative;
}
.gigi
{
	position: relative;
	margin-top: 20px;
	margin-bottom: 50px;
	border-radius: 20px;
	background-color: #FF0000;
	color: white;
	margin-top: 10px;
	font-size: 20px;
	font-weight: 600;
}
.gigi a{
	color: white;
	text-decoration:none;
}
.gigi{
	font-size: 30px;
}
.iron {
	color: gray;
	position: absolute;
	top: -490px;
	left: 0px;
}
.ich {
	margin-bottom: -3px;
}
.ni {
	font-size: 20px;
}
.san {
	font-size: 14px;
}
.slick-dots {
	margin-top: -7px;
	position: static;
}
.Youtube iframe{
	width:340px; 
	height:200px;
	border: none;
}
.lul {
	transform: 0.8;
}
.distributed {
	width: 235px;
	position: relative;
}
.lalananana {
	width: 235px;
	height: 200px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: red;
	opacity: 0.8;
}
.lin {
	position: absolute;
	top: 0;
	color: white;
	margin-top: 57px;
}
.impakt {
	text-align: center;
	text-decoration: underline;
	font-size: 30px;
	width: 235px;
	height: 200px;
}
.sertificate .slick-slide {
	display: flex;
	justify-content: center;
}
.sertificate .slick-prev {
	left: 2px;
	z-index: 2;
}
.sertificate .slick-next {
	right: 2px;
	z-index: 2;
}
.forma {
	font-size: 12px;
	top: 33px;
	left: 100px;
	position: absolute;
	width: 290px;
	padding: 20px;
	z-index: 1;
}
.forma a{
	color: white;
}
.forme {
	background-color: black;
	opacity: 0.8;
	top: 33px;
	z-index: 0;
	left: 100px;
	position: absolute;
	width: 290px;
	height: 534px;
}
.forma {
	top: 33px;
	left: 500px;
	position: absolute;
}
.forme {
	top: 33px;
	left: 500px;
	position: absolute;
}
.flexx {
	text-align: center;
	color: white;
}
.flexx {
	text-align: left;
}
footer {
	
	font-size: 13px;
	margin: -7px;
	background-color: #404040;
}
